.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text {
        border: 1px solid #ccc;
        padding: 1rem;
        width: 50%;
    }
}
